@model GestaoTarefasIPG.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<h3 style="color:#ff0000"> Tem a certeza que pretende apagar este funcionário? </h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
    </dl>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncionarioId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Tem a certeza que quer eliminar o Funcionário?')" /> |<a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>
