@model GestaoTarefasIPG.Models.Professor

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>Tem a certeza que quer Apagar?</h3>
<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProfessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroGabinete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroGabinete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeCurricular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeCurricular)
        </dd>
    </dl>
    
    <form asp-action="Apagar">
        <input type="hidden" asp-for="ProfessorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar á lista Professores</a>
    </form>
</div>
