@model GestaoTarefasIPG.Models.Professor

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome Completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            Email Completo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Número de telemóvel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class="col-sm-2">
            Número de Professor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_De_Professor)
        </dd>
        <dt class="col-sm-2">
            Número de Gabinete
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_De_Gabinete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProfessorID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Tem a certeza que quer eliminar o professor?')"/> |
        <a asp-action="Index" class="btn btn-info">Voltar</a>
    </form>
</div>
