@model IEnumerable<GestaoTarefasIPG.Models.Professor>

@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>Professores do Instituto Politécnico Da Guarda</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Criar Novo Professor</a>
    </p>
</div>

<table class="table" >
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                Numero do Professor
            </th>
            <th>
               Numero do Gabinate
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nome in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => nome.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => nome.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => nome.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => nome.Numero_De_Professor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => nome.Numero_De_Gabinete)
                </td>
                <td>
                    <a asp-action="Edit" 
                       asp-route-id="@nome.ProfessorID" 
                       class="btn btn-sm btn-warning">
                    Editar</a> |
                    <a asp-action="Details" 
                       asp-route-id="@nome.ProfessorID" 
                       class="btn btn-sm btn-info">
                    Detalhes</a> |
                    <a asp-action="Delete" 
                       asp-route-id="@nome.ProfessorID" 
                       class="btn btn-sm btn-danger" >
                    Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
