@model ProfessorViewModel

@{
    ViewData["Title"] = "Professores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h1>Professores do Instituto Politécnico Da Guarda</h1>

        <p>
            <a asp-action="Create" class="btn btn-outline-primary">Criar Novo Professor</a>
        </p>
       
        <nav>
            @using (Html.BeginForm())
            {
                <p>
                    Nome: <input type="text" name="searchString" value="@Model.StringProcura" placeholder="Procurar por nome" />
                    <button type="submit" class="btn btn-light" asp-action="Index" asp-route-page="1" asp-route-searchString="@Model.StringProcura">Procurar</button>
                    <a asp-action="Index" class="btn btn-info">Lista inteira</a>
                </p>
            }
        </nav>
    </div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th>
                Telemóvel
            </th>
            <th>
                Número
            </th>
            <th>
                Gabinete
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Professor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_De_Professor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_De_Gabinete)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfessorID" class="btn btn-outline-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ProfessorID" class="btn btn-outline-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProfessorID" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPaginas > 1)
{
    @for (int i = 1; i <= Model.TotalPaginas; i++)
    {
        @if (i == Model.PaginaAtual)
        {
            <a href="#" class="btn btn-primary">@i</a>
        }
        else
        {
            <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
        }
    }
}
